<div id="sidebar">
<h1>Opinion</h1>

<div id="keywords" class="section">
	<input type="search" placeholder="Term" />
</div>

<div id="sources" class="section">
  <label>Sources</label>
  <ul>
    <li><input type="checkbox" data-src="banana" checked> 1</li>
    <li><input type="checkbox" data-src="bonono"> 2</li>
    <li><input type="checkbox" data-src="benene"> 3</li>
    <li><input type="checkbox" data-src="bununu"> 4</li>
  </ul>
</div>

<div id="selection-dates" class="section">
	<label>Date range</label>
	<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />
	<script> $('input[name="daterange"]').daterangepicker(); </script>
</div>

<div id="limit" class="section">
	<label>Limit</label>
	<input type="number" value="50" />
</div>

<div id="refresh">
Refresh
</div>

</div>


<script src="/static/chart-manager.js"></script>
