<div id="sidebar">
<h1>Opinion</h1>

<div id="keywords" class="section">
	<input type="search" placeholder="Term" />
</div>

<div id="sources" class="section">
  <label>Sources</label>
  <ul>
    <li><input type="checkbox" data-src="banana" checked> 1</li>
    <li><input type="checkbox" data-src="bonono"> 2</li>
    <li><input type="checkbox" data-src="benene"> 3</li>
    <li><input type="checkbox" data-src="bununu"> 4</li>
  </ul>
</div>

<div id="selection-dates" class="section">
	<label>Date range</label>
	<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />
	<script> $('input[name="daterange"]').daterangepicker(); </script>
</div>

<div id="limit" class="section">
	<label>Limit</label>
	<input type="number" value="50" />
</div>

<div id="refresh">
Refresh
</div>

</div>



<script>

// Readers

function get_keywords() { return $('#keywords input').val()  }
function get_date_range() { return $('#selection-dates input').val()  }
function get_limit() { return $('#limit input').val()  }
function get_sources() {
	var sources = $('#sources input').map(function(){
    	if ( $(this).prop('checked') ) { 
    		return $(this).data('src'); // If checked return the data-src
    	}
	}).get();
	return sources;
  }

// Compiler

function get_options_json() {
    data = JSON.stringify({
        sources : get_sources(),
        keywords : get_keywords(),
        limit : get_limit(),
        date_range : get_date_range(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
    })
    return data;
}

// AJAX

function refresh_chart() {
	console.log(get_options_json());
    $.ajax({
        url: '/visualisations/charts/line/',
        type: 'POST',
        dataType: 'json',
        data: get_options_json(),
        success : function(response) {
        	// We don't ever reach "Success" with a JSON request because
        	// it expects a JSON return format, not HTML. Need to fix this !  
        },
        complete : function(response) {
        	console.log(response);
            $( "#chart_div" ).html(response.responseText);
        },
        error : function(err) {
            console.log("AJAX error in request: " + JSON.stringify(err, null, 2));
        }
    });
 }


 // Bindings

$(document).ready(function() {
    $("#refresh").on('click', refresh_chart );
    refresh_chart();
    console.log("Page Events Successfully Registered");
});



</script>