amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
Django==2.0.1
django-jsonfield==1.0.1
idna==2.6
kombu==4.1.0
matplotlib==2.1.1
nltk==3.2.5
numpy==1.13.3
praw==5.3.0
prawcore==0.13.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
redis==2.10.6
requests==2.18.4
six==1.11.0
textblob==0.15.0
tornado==4.5.3
update-checker==0.16
urllib3==1.26.5
vine==1.1.4
