/*-----------------------------------------------------------------
	Layout 
-----------------------------------------------------------------*/
body {
	margin:0;
	height:100%;
}

h1,h2,h3,h4,h5,h6 {
	margin:0 1rem;
}

#main {
	padding-left:200px;
	width:100%;
	background:#121314;
	color:#dfe0e5;
}


/*-----------------------------------------------------------------
	Typography 
-----------------------------------------------------------------*/


/*-----------------------------------------------------------------
	Sidebar 
-----------------------------------------------------------------*/
#sidebar {
	position:fixed;
	left:0;top:0;bottom:0;
	width:200px;
	height:100vh;
	background:#222326;
	color:#949599;
}

#sidebar .section {
	clear:both;
	padding:2rem 1rem;
}
/*-----------------------------------------
	Sources
-----------------------------------------*/
#sources label {
  float: left;
}

#sources ul {
  margin: 0;
  list-style: none;
  float: left;
}