<!-- Some sidebar malarky. Will need to sort into proper header/etc -->






<h2> Google charts test: </h2>
<ul>
<li>Add more data on hover</li>
<li>Add area between point and 0</li>
<li>Add data grouping. Google charts provides some datatable chart tools</li>
<li>Controls</li>
<li>Cumulative average</li>
<li>Regenerate Chart with parameters</li>
<li>Related to the above, will also need to store chart data locally and run tasks to retrieve</li>
</ul>






<!--- Sort this into proper code sections -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          {{ chart_data|safe}}
        );

        var options = {
          title: 'Public Opinion',
          hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

  <div id="chart_div" style="width: 100%; height:500px;"></div>